body {
    font-family: "Smooch Sans", sans-serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: #F9EBF3;
    padding: 1rem 20px;
    text-align: center;
}
header span {
    color: #FAC4CE;
    font-size: 2rem;
    font-weight: 800;
}   

/* navigation stuff here */
nav {
    background-color: #FAD8B4;
}
nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0 20px;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #F9EBF3;
    font-weight: 700;
}

nav li.current a {
    color: #FAD8B4;
    background-color: #F9EBF3;
}

nav li a:hover {
    color: #F73EAA;
}

/* main stuff here */
main {
    padding: 1rem 20px;
}

main h1 {
    color: #F73EAA;
}

main h2 {
    color: #FAC4CE;
    margin-bottom: 0rem;
}

main h3 {
    color: #D2EDFA;
    margin-bottom: 0rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    background-color: #F9EBF3;
}

main dl dt {
    color: #FAD8B4;
    font-weight: 600;
    margin-top: 1rem;
}

main dl dd {
    color:#333;
    font-size: .99rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .99rem;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
    color: #F73EAA;
}

main address {
    font-style: normal;
    background-color: #CABEFA;
    padding: .7rem;
    border-radius: 10px;
    border: 1px solid #333;
    width: 200px;
}

main a {
    color: #FAC4CE;
}

main a:hover {
    color: rgb(242, 119, 232);
}

/* main image stuff here */
figure.wrapped {
    margin: 0 0 0 10px;
    width: 20%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
     text-align: center;
    font-size: .90rem;
}

/* gallery stuff */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div.gallery figure {
    margin: 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .90rem;
    color: #F73EAA;
}

.myForm fieldset {
    border: 2px solid #F9EBF3;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.myForm legend {
    font-weight: 700;
    color: #FAD8B4;
    font-size: 1rem;
}

.myForm label {
    margin: .5rem;
    font-size: .95rem;
    color: #333;
}

.myForm label, .myForm select, .myForm [type="text"], .myForm [type="email"], .myForm [type="tel"], .myForm textarea {
    display: block;
}

.myForm [type=text], .myForm [type="email"], .myForm [type="tel"], .myForm select, .myForm textarea {
    border: 1px solid #FAC4CE;
    margin-top: .3rem;
    padding: .1rem;
    width: 250px;
    max-width: 300px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Smooch Sans", sans-serif;
    background-color: #F9EBF3;
}

.myForm textarea {
    height: 80px;
}

.myForm :required {
    border: 1.3px solid #F73EAA;
}

.myForm [type="submit"] {
    background-color: #F73EAA;
    color: #F9EBF3;
    font-weight: 700;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
}



































/* footer stuff here */
footer {
    background-color: #F9EBF3;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #333;
}
footer p {
    margin: 0;
    letter-spacing: 3px;
}













